/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: ease-in 0.1s;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  transition: ease-in 0.25s;
}
button:hover {
  transform-origin: 50 50;
  transform: rotate(2deg);
  transition-duration: 0.1;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

ul.staffs {
  display: flex;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;

  li {
    position: relative;
    list-style-type: none;
    width: 20%;
    text-align: center;

    button,
    a {
      display: block;
      width: 90%;
      margin: 12px 0;
      height: 44px;
      line-height: 44px;
      font-weight: bold;

      color: black;
      text-decoration: none;
      border-radius: 4px;

      transition: ease-in-out 0.2s;
      border: 1px solid #cccc;

      &:hover {
        background-color: rgba(68, 68, 68, 0.295);
        color: white;
      }
    }
  }
}
a.selected,
button.selected {
  background-color: #0984e3;
  color: #ffff;
}
.staff-detail {
  width: 50%;
  margin: auto;
  margin-top: 24px;

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  > div {
    padding: 12px 24px;
  }

  h2 {
    font-size: medium;
    font-weight: bold;
  }

  input {
    outline: none;
    border: 2px solid #0985e37a;
    padding: 0 4px;
    border-radius: 4px;
    font-size: medium;

    &:hover {
      border-color: #0984e3;
    }
  }
}
nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;

  a {
    width: 10%;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    &:hover {
      background-color: rgba(68, 68, 68, 0.166);
      border-radius: 4px;
    }
  }
}
